*{
    padding: 0;
    margin: 0;

}
body{
    overflow: hidden;
    align-items: center;
    justify-content: center;
}


.backgroundImage{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: backgroundAnimation 0.8s forwards;
    transform: scale(1.7);
    filter:blur(5px);
}


@keyframes backgroundAnimation {
    from{

        transform: scale(1.7);
        filter:blur(5px);
    }

    to{

        transform: scale(1.03);
        filter:blur(12px);
    }
}



.login{
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -50%);
    opacity:0.8;
}

.login h1{
    position: relative;
    color:lightcyan;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    font-size:45px;
    border-radius:50px;
}

.login h3{
    position: relative;
    color:lightcyan;
    text-align:center;
    font-size:35px;
}
.icon{

}

@keyframes imgAnimation {
    from{

        transform: scale(1,1);
    }

    to{

        transform: scale(1.5,1.5);
    }
}


.google{
    position:absolute;
    height:70px;
    width:70px;
    margin-top:15px;
    left:270px;
}
.google:hover{
    animation:imgAnimation 0.8s forwards;
    cursor: pointer;
}

.fb{
    position:relative;
    height:70px;
    width:70px;
    left:395px;
    margin-top:15px;
}

.fb:hover{
    animation:imgAnimation 0.8s forwards;
    cursor: pointer;
}

@keyframes adminAnimation{
    from{
        opacity:0.2;
        transform: scale(1,1);
    }

    to{
        opacity:0.7;
        transform: scale(1.3,1.3);
    }
}


.adminlog h1{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border:2px solid white;
    color:white;
    opacity:0.2;
    padding:5px;
    border-radius:20px;
}

.adminlog h1:hover{
    animation:adminAnimation 0.8s forwards;
    cursor: pointer;
}